
@{
    Layout = null;
}

<!DOCTYPE html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - Hi-Tech Traders</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/styles.min.css" asp-append-version="true" />
<link rel="shortcut icon" type="image/png" href="~/img/logos/favicon.png" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LoginLayout</title>
</head>
<body>
    @RenderBody()
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
</body>
</html>
