@{
    ViewData["Title"] = "ProductInsert";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Forms</h5>
                <div class="card">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Product Name</label>
                                <input type="text" class="form-control" name="product_name" required>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Brand</label>
                                <input type="text" class="form-control" name="brand" required>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Colour</label>
                                <input type="text" class="form-control" name="color" required>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Condition</label>
                                <input type="text" class="form-control" name="condition" required>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Description</label>
                                <input type="text" class="form-control" name="description" required>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Starting Bid</label>
                                <input type="number" class="form-control" name="starting_bid" required>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Price</label>
                                <input type="number" class="form-control" name="price" required>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Product Image</label>
                                <input type="file" class="form-control" name="formfile" required>
                            </div>
                            <div class="row my-2">
                                <label for="description">Product Type*</label>
                                <select class="form-select" name="pType" aria-label="Default select example">
                                    <option selected>Open this for Select Prodcut Type</option>
                                    <option value="auction">Auction</option>
                                    <option value="normal">Normal</option>
                                </select>
                            </div>
                            <input type="submit" class="btn btn-primary" value="Add User" />
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


