
@{
    ViewData["Title"] = "Winner";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="card w-100 my-3">
        <div class="card-body p-4">
            <h5 class="card-title fw-semibold mb-4">Recent Winners</h5>
            <div class="table-responsive">
                <table class="table">
                    <thead class="text-dark fs-4">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">
                                <h6 class="fw-semibold mb-0">Winner Name</h6>
                            </th>
                            <th scope="col">
                                <h6 class="fw-semibold mb-0">Bid Value</h6>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int count = 0;
                            foreach (System.Data.DataRow dr in ViewBag.totalWinner.Rows)
                            {
                                count++;
                                <tr>
                                    <td scope="col">@count</td>
                                    <td scope="col">
                                        @dr["bidder_name"].ToString()
                                    </td cope="col">
                                    <td  scope="col" >
                                        @dr["bid_value"].ToString()
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

